html {
    font-size: 10px; /* px significa "pixels": o tamanho da fonte base é 10px. */
    font-family: 'Commissioner', sans-serif; /* este deve ser o nome da fonte que vc obteve no google fonts */
}
html {
    background-color: slategrey;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: silver;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 3px 3px 1px slategrey;
    font-size: 60px;
    text-align: center;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img{
    width: 600px;
    display: block;
    margin: 0 auto;
}